<div class="partz" >
    <h1>Como funciona</h1>
    <h4>Segurança e transparência são nossas prioridades</h4>
    <br>
    <div class="cardizititos">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Pesquise</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <img mat-card-sm-image src="https://github.com/lAlissial/jsonzitotwo/blob/main/iconz1.png?raw=true" >
        </mat-card-title-group>
        <mat-card-content>
          <ul class="pe-2">
            <li>Verifique perfis detalhados</li>
            <li>Leia críticas e referências</li>
            <li>Analise as verificações de usuários confiáveis</li>
          </ul>
        </mat-card-content>
      </mat-card>


      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Entre em contato</mat-card-title>
          <mat-card-subtitle>.</mat-card-subtitle>
          <img mat-card-sm-image src="https://github.com/lAlissial/jsonzitotwo/blob/main/iconz2.jfif?raw=true" >
        </mat-card-title-group>
        <mat-card-content>
          <ul class="pe-2">
            <li>Use nossos serviços</li>
            <li>Filtre, entreviste e escolha</li>
            <li>Gratuito para babás</li>
            <li>Acessível para as famílias</li>
          </ul>
        </mat-card-content>
      </mat-card>


      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Primeiro contato</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <img mat-card-sm-image src="https://github.com/lAlissial/jsonzitotwo/blob/main/iconz4.jfif?raw=true" >
        </mat-card-title-group>
        <mat-card-content>
          <ul class="pe-2">
            <li>Combine uma data e hora</li>
            <li>Conheça o usuário pessoalmente</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
</div>
