<div class="centrlz-card-bab">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title >{{baba.nome}}</mat-card-title>
      <mat-card-subtitle >{{baba.mail}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://github.com/lAlissial/jsonzitotwo/blob/main/iconbaba.jfif?raw=true" >
    <mat-card-content>{{baba.descricao}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Gostei</button>
      <button mat-button>Compartilhar</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
