.centrlz-card-bab{
  display:grid;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  margin-top:1rem;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://github.com/lAlissial/jsonzitotwo/blob/main/iconbaba.jfif?raw=true');
  background-size: cover;
}
