.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: none !important;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: none !important;
}
.carousel-item{
  display: inline-flex !important ;
}
