.menu-background {
  background: #7C4DFF;//rgba(167, 135, 255, .5);
  //background-image: linear-gradient(#c299ff, white);
  height: 40px;
  z-index: 10 !important;
}

#loginz {
  float: right;
  margin-right: 1rem;
  //color:#7C4DFF;
  color: white;
  //font-size: 16px;
  border-radius: 3px;
}

#navzito{
  box-shadow: 2px 3px 3px #3a3a3a;
}

#cresc{
  font-size: 45px;
}

.branquito {
  color:white;
}
