<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navzito">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://github.com/lAlissial/jsonzitotwo/blob/main/imgg.png?raw=true"
        height="45"
        alt=""
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button mat-raised-button [routerLink]="['/cadastrarbabysitter']" style="background-color: #7C4DFF; color:white;">
          Cadastre-se
        </button>
        <!--<a
          class="btn btn-dark px-3"
          href="https://github.com/Vadrilis/VadrilisChildCare"
          role="button"
        ><i class="fa-user-o"></i
        ></a>-->
      </div>

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <div>
    <button mat-mini-fab color="primary" id="loginz" [routerLink]="['/listarbabysitter']" >
      <mat-icon>groups</mat-icon>
    </button>
  </div>
  <!--<button mat-icon-button id="loginz">
    <mat-icon id="cresc">account_box</mat-icon>
  </button>-->
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="menu-background">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="branquito">
    <mat-icon>drag_indicator</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/cadastrarbabysitter']"><mat-icon>login</mat-icon>Cadastrar Babá</button>
    <button mat-menu-item [routerLink]="['/listarbabysitter']"><mat-icon>article</mat-icon>Listagem das babás</button>
  </mat-menu>

</div>

