<app-menu></app-menu>
<div class="colocbakg">
  <div class="cdt-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Cadastro</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Babá">
          <mat-card-content>
            <form action="">
              <mat-divider> </mat-divider>
              <h4 class="separandito">LOGIN</h4>
              <mat-divider> </mat-divider>
              <br>
              <mat-form-field>
                <mat-label>Digite seu email</mat-label>
                <input
                  matInput
                  #emailbaba  maxlength="45" placeholder="Ex.: info@gmail.com" [formControl]="email" required>
                  <!--[(ngModel)]="babysitter.emailz"-->
                <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                <mat-hint align="end">{{emailbaba.value?.length || 0}}/10</mat-hint>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Digite sua senha</mat-label>
                <input
                  matInput
                  placeholder="Senha"
                  required
                  #senhazitababa
                  [type]="hide ? 'password' : 'text'">
                  <!--[(ngModel)]="babysitter.senha" -->
                  <!--name="senhazitababa"
                  ngModel
                  #senhazitababa="ngModel"
                <mat-error
                  *ngIf="senhazitababa.errors && senhazitababa.errors.required">
                  Informe uma senha válida
                </mat-error>
                <mat-error
                  *ngIf="senhazitababa.errors && senhazitababa.errors.minlength">
                  A senha deve ter no mínimo 5
                </mat-error>-->
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <mat-divider> </mat-divider>
              <h4 class="separandito">PESSOAL</h4>
              <mat-divider> </mat-divider>
              <br>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Nome completo"
                  required
                  #namebaba>
                <!--[(ngModel)]="babysitter.nome" -->
                <!--name="usernamebaba"
                ngModel
                #usernamebaba="ngModel"
              <mat-error
                *ngIf="usernamebaba.invalid">
                Nome é obrigatorio
              </mat-error>-->
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="123.456.789-01"
                required
                #cpfzitobaba>
              <!--[(ngModel)]="babysitter.cpf" -->
                <!--name="cpfzitobaba"
                ngModel
                #cpfzitobaba="ngModel"
              <mat-error
                *ngIf="cpfzitobaba.invalid">
                CPF é obrigatorio
              </mat-error>-->
              <mat-icon matSuffix>contact_mail</mat-icon>

            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Telefone</mat-label>
              <span matPrefix>+55 83 &nbsp;</span>
              <input type="tel"
                     matInput
                     placeholder="987123456"
                     required
                     #telbaba>
                    <!--[(ngModel)]="babysitter.telefone" -->
                     <!--name="telbaba"
                     ngModel
                     #telbaba="ngModel"-->
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Data de aniversário</mat-label>
              <input matInput [matDatepicker]="picker"
                     required
                     #dataanivbaba>
              <!--[(ngModel)]="babysitter.dataAniversario"-->
              <!--name="dataanivbaba"
              ngModel
              #dataanivbaba="ngModel"-->
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker></mat-datepicker>
            </mat-form-field>
              <br>
              <mat-divider> </mat-divider>
              <h4 class="separandito">LOCALIZAÇÃO</h4>
              <mat-divider> </mat-divider>
              <br>
            <mat-form-field class="example-full-width">
              <mat-label>CEP</mat-label>
              <input matInput
                     maxlength="8"
                     placeholder="Ex. 58300590"
                     required
                     #cepbaba>
                    <!--[(ngModel)]="babysitter.cep" -->
                     <!--name="cepbaba"
                     ngModel
                     #cepbaba="ngModel"
              <mat-hint align="end">{{cepbaba.value.length}} / 8</mat-hint>-->
              <mat-icon matSuffix>cottage</mat-icon>

            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Número</mat-label>
              <input matInput
                     placeholder="Ex. 100"
                     required
                     #numbaba>
                    <!-- [(ngModel)]="babysitter.num" -->
                     <!--name="numbaba"
                     ngModel
                     #numbaba="ngModel"-->
              <mat-icon matSuffix>pin</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Complemento</mat-label>
              <input matInput
                     placeholder="Ex. Apto 90 Bloco A"
                     required
                     #complbaba>
              <!--[(ngModel)]="babysitter.complemento" -->
                     <!--name="complbaba"
                     ngModel
                     #complbaba="ngModel"-->
              <mat-icon matSuffix>9mp</mat-icon>
            </mat-form-field>
              <br>
              <mat-divider> </mat-divider>
              <h4 class="separandito">PERFIL</h4>
              <mat-divider> </mat-divider>
              <br>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Descrição"  #descrc></textarea>
            </mat-form-field>
            <mat-checkbox color="warn">Lembrar-se</mat-checkbox>
            <button
              mat-raised-button
              color="primary"
              class="cdt-button" (click)="inserirBaba(emailbaba, senhazitababa, namebaba, cpfzitobaba, telbaba, cepbaba,  numbaba, complbaba, descrc, dataanivbaba)">
              Cadastrar
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Responsável">
        <mat-card-content>
          <form action="">
            <mat-divider> </mat-divider>
            <h4 class="separandito">LOGIN</h4>
            <mat-divider> </mat-divider>
            <br>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required>
                <!--name="emailresp"
                ngModel
                #emailresp="ngModel"
              <mat-error *ngIf="emailresp.invalid">Informe um email válido</mat-error>-->
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Senha"
                type="password"
                required
                minlength="5">
                <!--name="senhazitaresp"
                ngModel
                #senhazitaresp="ngModel"
              <mat-error
                *ngIf="senhazitaresp.errors && senhazitaresp.errors.required">
                Informe uma senha válida
              </mat-error>
              <mat-error
                *ngIf="senhazitaresp.errors && senhazitaresp.errors.minlength">
                A senha deve ter no mínimo 5
              </mat-error>-->
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <br>
            <mat-divider> </mat-divider>
            <h4 class="separandito">PESSOAL</h4>
            <mat-divider> </mat-divider>
            <br>
            <mat-form-field>
              <input
                matInput
                placeholder="Nome completo"
                required>
                <!--name="usernameresp"
                ngModel
                #usernameresp="ngModel"
                            <mat-error
                *ngIf="usernameresp.invalid">
                Nome é obrigatorio
              </mat-error>-->
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="123.456.789-01"
                required>
                <!--name="cpfzitoresp"
                ngModel
                #cpfzitoresp="ngModel"
                            <mat-error
                *ngIf="cpfzitoresp.invalid">
                CPF é obrigatorio
              </mat-error>-->
              <mat-icon matSuffix>contact_mail</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Telefone</mat-label>
              <span matPrefix>+55 83 &nbsp;</span>
              <input type="tel"
                     matInput
                     placeholder="987123456"
                     required>
                     <!--name="telresp"
                     ngModel
                     #telresp="ngModel"-->
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Data de aniversário</mat-label>
              <input matInput [matDatepicker]="picker"
                     required>
              <!--name="dataanivresp"
              ngModel
              #dataanivresp="ngModel"-->
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-divider> </mat-divider>
            <h4 class="separandito">ENDEREÇO</h4>
            <mat-divider> </mat-divider>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>CEP</mat-label>
              <input matInput
                     maxlength="8"
                     placeholder="Ex. 58300590"
                     required>
                     <!--name="cepresp"
                     ngModel
                     #cepresp="ngModel"
                     <mat-hint align="end">{{cepresp.value.length}} / 8</mat-hint>-->
              <mat-icon matSuffix>cottage</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Número</mat-label>
              <input matInput
                     placeholder="Ex. 100"
                     required>
                     <!--name="numresp"
                     ngModel
                     #numresp="ngModel"-->
              <mat-icon matSuffix>pin</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Complemento</mat-label>
              <input matInput
                     placeholder="Ex. Apto 90 Bloco A"
                     required>
                     <!--name="complresp"
                     ngModel
                     #complresp="ngModel"-->
              <mat-icon matSuffix>9mp</mat-icon>
            </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="cdt-button">
                Cadastrar
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>


<div class="lilaszito">
  <div class="colocandoflx" >
    <div class="results">
      <article>
        <h1 class="ajkt" id="listagemzita">ENCONTRE UMA BABÁ</h1>
          <div class="cardszitos">
            <mat-card  *ngFor="let babysitter of babas" class="cardjuk">
              <mat-card-title-group>
                <mat-card-subtitle>Paraíba</mat-card-subtitle>
                <mat-card-title>{{ babysitter.nome }}</mat-card-title>
                <img mat-card-sm-image src="https://github.com/lAlissial/jsonzitotwo/blob/main/iconbaba.jfif?raw=true" >
              </mat-card-title-group>
              <mat-card-content>
                <p>{{ babysitter.descricao}}</p>
              </mat-card-content>
              <ngb-rating [max]="5" [(rate)]="rating" [readonly]="false"></ngb-rating>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button mat-button>MAIS</button>
                <button mat-button>ESCOLHER</button>
              </mat-card-actions>
              <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
              </mat-card-footer>
            </mat-card>
          </div>
        <div class="centralizandopaginacao">
          <nav aria-label="well" >
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </article>
    </div>
  </div>
</div>



