.cdt-page {
  //top: 0;
  //margin: 0;
  //padding: 0;
  width: 100%;
  height: 100%;
  //display: block;
  //background-color: var(--blue-light);
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  //overflow: hidden;
}

mat-card {
  //background-color: var(--blue-dark);
  width: 30vw;
  min-width: fit-content;
  margin: 10% auto;
  border-radius: 8px;
}

mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}

mat-card-content {
  margin-top: 1rem;
}

.cdt-button {
  margin: 20px auto;
  display: block;
  width: 80%;
}

mat-datepicker-toggle{
  color: rgb(17, 17, 17);
  font-size: 18px;

}

mat-form-field mat-icon {
  margin-right: 3px;
  //padding-right: 0;
}

.separandito{
  text-align: center;
  padding-top: 4px;
  margin-bottom: 4px;
  color: darkgrey;
}

.colocbakg{
  padding-top: 0px;
  margin-top: 0px;
  background-image: url("https://github.com/lAlissial/jsonzitotwo/blob/main/imagempsite3.jpg?raw=true");
}

// LISTAGEM
.cardjuk {
  max-width: 100px;
}

ngb-rating {
  color: #FFC107;
  font-size: 30px;
}

