.example-card {
  max-width: 400px;
}

ngb-rating {
  color: #FFC107;
  font-size: 30px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.espacinho{
  color: rgba(255, 255, 255, 0.01);
}

