footer {
  font-family: "Century Gothic";
  background-color: #AA59EB;
}
.col-md-7 {
  flex: 0 0 auto;
  width: 40%;
}
.col-md-5 {
  flex: 0 0 auto;
  width: 60%;
}

.col-md-5 a {
  margin-right: 145px;
}

i {
  font-size: 17px;
}
